.mob__menu__btn {
    width: 45px;
    height: 45px;
    color: var(--icons-color);
    transition: var(--transition);
}

.mob__menu__btn:hover,
.mob__menu__btn:focus {
    color: var(--icons-color-hover);
}

.mob__menu__icon {
    width: 45px;
    height: 45px;
    fill: currentColor;
}
.mob__menu__close__btn{
    width: 35px;
        height: 35px;
        margin-left: 250px;
        color: var(--icons-color);
        transition: var(--transition);
}
.mob__menu__close__btn:hover,
.mob__menu__close__btn:focus {
    color: var(--icons-color-hover);
}

.mob__menu__close__icon {
    width: 35px;
    height: 35px;
    fill: currentColor;
}

.mob__menu__overlay{
    position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        overflow-y: scroll;
        width: 320px;
        height: 100%;
        background-color: #ffffff;
        transition: right 0.5s ease;
}
.mob__menu__overlay.open{
    right: 0;
}

.mob__menu__cont{
      background: var(--header-gradient);
       width: 320px;
        height: 100%;
       color: var(--primary-links-color);
        padding: 20px;
        z-index: 1000;
 
}
.mob__home__link{
    display: block;
    width: 35px;
    height: 35px;
    color: var(--icons-color);
    transition: var(--transition);
}

.mob__home__link:hover , .mob__home__link:focus{
    color: var(--icons-color-hover);
}

.mob__list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 20px;
    margin-top: 10px;
}
.mob__link{
   transition: var(--transition);
}
.mob__link:hover{
  color: var(--icons-color-hover);
}
.mob__inner__list{
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}
.mob__inner__list.active{
    height: auto;
    display: flex;
        
       flex-direction: column;
       gap: 10px;
        padding-top: 5px;
        padding-left: 15px;
        

        font-size: 16px;
        font-weight: 300;
        transition: height 0.5s ease;

}

.mob__item__cont{
    display: flex;
    align-items: center;
    gap: 13px;
}
.mob__inner__btn{
    width:35px;
    height: 35px;
    color: var(--icons-color);
    transition: var(--transition);
}
.mob__inner__btn:hover, .mob__inner__btn:focus {
   color: var(--icons-color-hover);
}
.mob__inner__icon{
    width: 35px;
    height: 35px;
    fill: currentColor;
}

/* contacts section */
.contacts__container{
    margin-top: 15px;
    font-size: 20px;
}
.contacts__list{
   
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
}

.contacts__link{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    color: var(--icons-color);
    transition: var(--transition);
}
.contacts__link:hover, .contacts__link:focus{
    color: var(--icons-color-hover);
}

/* socials section */
.social__container {
    margin-top: 15px;
    font-size: 20px;
}

.social__list {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.social__link {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    color: var(--icons-color);
    transition: var(--transition);
}

.social__link:hover,
.social__link:focus {
    color: var(--icons-color-hover);
}

@media screen and (min-width:425px){
    .mob__menu__btn {
            width: 50px;
            height: 50px;
        }
    
    .mob__menu__icon {
            width: 50px;
            height: 50px;
    }
}

@media screen and (min-width:768px) {
    .mob__menu__btn {
        width: 60px;
        height: 60px;
    }

    .mob__menu__icon {
        width: 60px;
        height: 60px;
    }
    .mob__menu__close__btn {
        width: 45px;
        height: 45px;
        margin-left: 480px;
    }
    .mob__menu__close__icon {
        width: 45px;
        height: 45px;
    }

    .mob__menu__overlay {
            width: 560px;
    }
        .mob__menu__cont {
            width: 560px;
            padding: 25px;
        }

        .mob__list {
            gap: 15px;
            font-size: 22px;
            margin-top: 20px;
        }
    

        .mob__inner__list.active {
            flex-direction: row;
            flex-wrap: wrap;
            width: 530px;
            row-gap: 12px;
            column-gap: 1px;
            padding-top: 7px;
            padding-left: 15px;
         
            font-size: 18px;

        }
    
        .mob__inner__item{
        width: 250px;
        }

        /* contacts section */
        .contacts__container {
            margin-top: 20px;
            font-size: 22px;
        }
    
        .contacts__link {
            font-size: 18px;

        }
        /* contacts section */
        .social__container {
         margin-top: 20px;
         font-size: 22px;
        }             
       
      
}

@media screen and (min-width:1024px) {
    .mob__menu__btn {
           display: none;
        }
    .mob__menu__overlay{
        display: none;
    }
}