.reel__title {
    margin-bottom: 10px;
}

.priceBtn__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 2px;
}

.price__container {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 700;
}

.price__title {
    font-size: 18px;
}

.stock__text {
    color: var(--icons-color-hover);
    font-size: 18px;
    font-weight: 700;
}

.description__container {
    margin-top: 10px;
}

.description__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 12px;
    padding-left: 15px;
}

.info__container {
    margin-top: 10px;
}

/* table styles */
.info__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(11, 128, 144, 0.35);
}

.th,
.td {
    padding: 6px;
    text-align: left;
    border-bottom: 0.7px solid #13667368;

}

.th {
    border-right: 0.7px solid #13667368;
}

.last {
    border-bottom: 0;
}

@media screen and (min-width:375px) {
    .info__table {
        font-size: 15px;
    }
}

@media screen and (min-width:768px) {
    .reel__title {
        margin-bottom: 15px;
    }

    .reel__style__box {
        display: flex;
        gap: 15px;
    }

    .info__container,
    .description__container {
        margin-top: 15px;
    }

    .info__table {
        font-size: 16px;
    }

}

@media screen and (min-width:1024px) {
    .reel__title {
        margin-bottom: 20px;
    }

    .price__container {
        gap: 7px;
        font-size: 20px;
    }

    .price__title {
        font-size: 20px;
    }

    .info__table {
        font-size: 18px;
    }

    .info__container {
        margin-top: 20px;
    }

    .description__container {
        margin-top: 20px;
    }
}

@media screen and (min-width:1440px) {
    .reel__title {
        margin-bottom: 30px;
    }

    .reel__style__box {
        gap: 30px;
        justify-content: center;
    }

    .price__container {
        font-size: 22px;
    }

    .price__title {
        font-size: 22px;
    }

    .info__table {
        font-size: 20px;
    }
}