
.prod__title{
    font-size: 18px;
}
.info__container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description__container{
  margin-top: 10px;
}
.description__title{
    font-size: 16px;
}
.description__list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
    font-size: 15px;
}

@media screen and (min-width:425px) {
    .prod__title {
            font-size: 20px;
        }
    .description__title {
        font-size: 18px;
    }

    .description__list {
        padding: 5px 5px 5px 12px;
        font-size: 16px;
    }
}

@media screen and (min-width:768px) {
    .prod__container{
        display: flex;
        gap: 20px;
    }
    .info__container{
        margin: 0;
        gap: 15px;
    }
    .prod__title{
        font-size: 21px;
    }
        .description__container {
            margin-top: 20px;
        }
    
        .description__title {
            font-size: 18px;
        }
    
        .description__list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 10px;
            font-size: 17px;
        }
}

@media screen and (min-width:1024px) {
    .prod__container {
        gap: 40px;
    }

    .info__container {
        gap: 20px;
    }

    .prod__title {
        font-size: 23px;
    }

    .description__container {
        margin-top: 20px;
    }

    .description__title {
        font-size: 21px;
    }

    .description__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px;
        font-size: 19px;
    }
}

@media screen and (min-width:1440px) {
    .prod__container {
        justify-content: center;
        gap: 80px;
    }

    .prod__title {
        font-size: 28px;
    }

    .description__container {
        margin-top: 30px;
    }

    .description__title {
        font-size: 24px;
    }

    .description__list {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 17px;
        font-size: 22px;
    }
}