.select__btns__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 7px;
}

.hook__selector__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
    transition: var(--transition);
}

.hook__selector__btn:hover,
.hook__selector__btn:focus {
    box-shadow: 0px 0px 6px 1px #F79400;
}


.selector__img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 10px;
    border: 0.3px solid rgba(11, 128, 144, 0.45);
}

.select__info__container {
    padding-left: 12px;
}

.select__info__title {
    margin-top: 10px;
    font-size: 16px;
}

.price__block {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.price__container {
    margin-top: 10px;
    margin-bottom: 7px;
}

.hook__price {
    font-size: 18px;
    font-weight: 500;
}

.sale {
    text-decoration: line-through;
}

.hook__price__sale {
    color: red;
    text-decoration: none;
}

.select__stock__text {
    color: var(--icons-color-hover);
    font-size: 17px;
    font-weight: 700;
}

.select__price__title {
    font-size: 17px;
}

.select__price__value {
    font-weight: 700;
    font-size: 17px;
}

.info__container {
    margin-top: 10px;
}

.info__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(11, 128, 144, 0.35);
}

.th,
.td {
    padding: 6px;
    text-align: left;
    border-bottom: 0.7px solid #13667368;

}

.th {
    border-right: 0.7px solid #13667368;
}

.last {
    border-bottom: 0;
}

@media screen and (min-width:375px) {
    .info__table {
        font-size: 15px;
    }
}

@media screen and (min-width:425px) {
    .select__btns__list {
        max-height: 190px;
    }

    .toggle__btn {
        padding: 10px;
        font-size: 15px;
        border: 0.8px solid var(--titles-color);
    }

    .toggle__btn:hover,
    .toggle__btn:focus {
        border: 0.8px solid var(--icons-color-hover);
    }

    .selector__img {
        width: 350px;
        height: 350px;
        border: 0.8px solid rgba(11, 128, 144, 0.45);
    }

    .price__container {
        gap: 10px;
        margin-top: 12px;
    }



}

@media screen and (min-width:768px) {
    .selector__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 20px;
    }

    .select__btns__list {
        gap: 15px;
    }

    .hook__selector__btn {
        padding: 5px;
        border-radius: 15px;
        font-size: 16px;
    }

    .selector__inner__img {
        width: 40px;
        height: 40px;
    }

    .select__info__title {
        margin-top: 15px;
        font-size: 18px;
    }

    .price__block {
        justify-content: flex-start;
        gap: 30px;
    }

    .price__container {
        gap: 10px;
        margin-top: 15px;
    }

    .select__stock__text {
        font-size: 18px;
    }

    .info__table {
        font-size: 16px;
    }

}

@media screen and (min-width:1024px) {
    .selector__container {
        gap: 30px;
    }

    .select__btns__list {
        gap: 20px;
    }


    .hook__selector__btn {
        padding: 7px;
        font-size: 17px;
        border-radius: 20px;
    }

    .hook__selector__btn:hover,
    .hook__selector__btn:focus {
        box-shadow: 0px 0px 10px 2px #F79400;
    }

    .selector__img {
        width: 420px;
        height: 420px;
    }

    .select__info__title {
        margin-top: 20px;
        font-size: 20px;
    }

    .price__block {
        gap: 30px;
    }

    .price__container {
        gap: 10px;
        margin-top: 15px;
    }

    .hook__price {
        font-size: 20px;
    }

    .select__stock__text {
        font-size: 20px;
    }


    .info__container {
        margin-top: 20px;
    }

    .info__table {
        font-size: 18px;
    }



}

@media screen and (min-width:1440px) {
    .selector__container {
        gap: 40px;
    }

    .selector__img {
        width: 500px;
        height: 500px;
    }

    .select__btns__list {
        flex-wrap: wrap;
        gap: 25px;
        padding: 15px;

    }

    .hook__selector__btn {

        padding: 10px;
        border-radius: 25px;
        font-size: 18px;
    }


    .price__block {
        gap: 100px;
    }

    .price__container {
        gap: 12px;
        margin-top: 25px;
    }

    .hook__price {
        font-size: 22px;
    }

    .select__stock__text {
        font-size: 22px;
    }

    .info__table {
        font-size: 20px;
    }

    .th,
    .td {
        padding: 10px;
    }

}