.mobMenuBtn {
    width: 55px;
    height: 45px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::before {
            content: "";
            position: absolute;
            top: 15px;
            right: 15px;
            width: 46px;
            height: 40px;
            background-size: cover;
            background-image: url("/mob-menu-icon.svg");
        }
    &:hover::before{
        background-image: url("/mob-menu-icon-hover.svg");
    }

}

.mobileMenuContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 290px;

    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--background-color-mob-menu);
}

.mobileMenuBtnClose {
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 20px;
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
        content: "";
        position: absolute;
        top: 10px;
        right: 15px;
        width: 22px;
        height: 22px;
        background-size: cover;
        background-image: url("/close-icon.svg");
       
    }

    &:hover::after {
        background-image: url("/close-icon-hover.svg");
    }
}

.mobileMenuNavList {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-top: 50px;

    font-size: 20px;
    font-weight: 500;
    
}

.mobileMenuAuthList {
    display: flex;
    gap: 15px;

    margin-top: 50px;
    font-size: 16px;

}

.mobileMenuAuthListLink {
    position: relative;
    padding-left: 17px;
    color: var(--color-primary-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: transparent;
        background-clip: text;
        background-image: var(--hover-gradient);
    }

    &::before {
        content: "";
        position: absolute;
        top: 2px;
        left: -2px;
        width: 16px;
        height: 16px;
        background-size: cover;
    }

    &Auth::before {
        background-image: url("/login-icon.svg");
    }

    &Register::before {
        background-image: url("/register-icon.svg");
    }

    &:hover,
    &:focus {
        color: transparent;
        background-clip: text;
        background-image: var(--hover-gradient);
    }

    &Auth:hover::before {
        background-image: url("/login-icon-hover.svg");
    }

    &Register:hover::before {
        background-image: url("/register-icon-hover.svg");
    }
}

.mobileMenuNavListLink {
    color: var(--color-primary-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: transparent;
        background-clip: text;
        background-image: var(--hover-gradient);
    }
}

.mobContactsList {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

.mobContactsLink {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color-titles-section);
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 18px;

    &:hover,
    &:focus {
        color: transparent;
        background-clip: text;
        background-image: var(--hover-gradient);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 25px;
        height: 25px;
        background-size: cover;
    }

    &Insta::after {
        background-image: url("/insta-icon.svg");
    }

    &Insta:hover::after {
        background-image: url("/insta-icon-hover.svg");
    }

    &Fb::after {
        background-image: url("/fb-icon.svg");
    }

    &Fb:hover::after {
        background-image: url("/fb-icon-hover.svg");
    }

    &Mail::after {
        background-image: url("/mail-icon.svg");
    }

    &Mail:hover::after {
        background-image: url("/mail-icon-hover.svg");
    }

}

.mobileMenuNavListItem {
    position: relative;
}

.mobileMenu {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    overflow-y: scroll;
    width: 320px;
    height: 100%;
    background-color: #ffffff;
    transition: right 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobileMenu.open {
    right: 0;
}

@media screen and (min-width:768px) {
    .mobileMenuBtn {
            width: 80px;
            height: 60px;
    
            &Icon {
                width: 80px;
                height: 60px;
            }
        }
    
        .mobileMenuContainer {
            width: 320px;
        }
}

@media screen and (min-width:1000px) {
    .mobileMenu,
        .mobMenuBtn {
            display: none;
        }
}

.current {
    color: transparent;
    background-clip: text;
    background-image: var(--hover-gradient);
    padding-left: 21px;

    &::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 20px;
        height: 20px;
        background-size: cover;
        background-image: url("/current.svg");
    }

}

@media screen and (min-width:1000px) {
    .current {
        padding-left: 18px;

        &::after {
            top: 1px;
            left: 0;
            width: 16px;
            height: 16px;

        }
    }
}

@media screen and (min-width:1200px) {
    .current {
        padding-left: 21px;

        &::after {
            width: 19px;
            height: 19px;
        }
    }
}

@media screen and (min-width:1440px) {
    .current {
        padding-left: 23px;

        &::after {
            width: 22px;
            height: 22px;

        }
    }
}