:root {
  --primary-links-color: #F6F3BD;
  --primary-text-color: #03464F;
  --titles-color: #136773;
  --icons-color: #F6F3BD;
  --icons-color-hover: #F79400;
  --buttons-back-color: #136773;
  --box-shadow-color-hover: #F79400;
  --box-shadow-color: rgba(11, 128, 144, 0.45);
  --transition: color 0.5s ease, backround-color 0.5s ease, left 0.5s ease, right 0.5s ease, border 0.5s ease, box-shadow 0.5s ease;
  --back-section: rgba(254, 253, 232, 0.70);
  --header-gradient: linear-gradient(to bottom, rgba(10, 103, 115, 1), rgba(11, 128, 144, 0.8));
  --footer-gradient: linear-gradient(to bottom, rgba(11, 128, 144, 0.8), rgba(10, 103, 115, 1));
  --not-found-link-back: #03464F;
  --not-found-link-color: #F6F3BD;
  --not-found-text-color: #03464F;



}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: #000000;
    --box-shadow-color: rgba(246, 243, 189, 0.75);
    --back-section: rgba(254, 253, 232, 0.90);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  color: var(--primary-text-color);
  background-image: url("/vudka-fon.webp");
  background-size: 200px 200px;
  font-family: var(--font-roboto);
  line-height: 1.3;
  font-size: 15px;
  
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p,ul,ol {
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
button{
  background-color: transparent;
  border: 0;
  font-family: var(--font-roboto);
}
img{
  display: block;
}

.not__found__title{
  text-align: center;
  color: var(--not-found-text-color);
}
.not__found__text{
  margin-top: 10px;
  text-align: center;
  color: var(--not-found-text-color);
}
.not__found__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin: 20px auto 0px auto;
  padding: 15px;
  background: var(--not-found-link-back);
  border-radius: 30px;
  color: var(--not-found-link-color);
  box-shadow: 0px 0px 10px 2px var(--box-shadow-color);
}
.container{
  width: 100%;
  padding: 0px 5px 0px 5px;
  
}
.hero-section{
  width: calc(100% - 14px);
  margin: 20px auto;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 2px var(--box-shadow-color);
}
.section{
  width: calc(100% - 14px);
  margin: 20px auto;
  padding: 10px 0px 10px 0px;
  border-radius: 30px;
  background: var(--back-section);
  box-shadow: 0px 0px 10px 2px var(--box-shadow-color);
}
.title{
  margin-left: 7px;
  font-size: 17px;
  color: var(--titles-color);
}

.temporary__container{
  width: calc(100% - 14px);
  margin-top: 110px;
  margin-bottom: 110px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px 10px 0px;
  border-radius: 30px;
    background: var(--back-section);
    box-shadow: 0px 0px 10px 2px var(--box-shadow-color);
  
}

@media screen and (min-width:425px) {
  .container{
    padding: 0px 15px 0px 15px;
  }
}
@media screen and (min-width:768px) {
  body {
      background-size: 250px 250px;
      font-size: 16px;
  }
  .title{
    font-size: 18px;
  }
  .container {
    padding: 0px 10px 0px 10px;
  }
  .hero-section{
    width: 728px;
      margin: 20px auto;
      border-radius: 40px;
      box-shadow: 0px 0px 15px 3px var(--box-shadow-color);
  }
  .section{
      width: 728px;
      margin: 20px auto;
      padding: 15px 0px;
      border-radius: 40px;
      box-shadow: 0px 0px 15px 3px var(--box-shadow-color);
  }
  .not__found__text{
    margin-top: 20px;
  }
  .not__found__link{
    margin-top: 30px;
  }

    .temporary__container {
      width: 728px;
      margin-top: 135px;
      margin-bottom: 135px;
      padding: 15px 0px 15px 0px;
      border-radius: 40px;
      box-shadow: 0px 0px 15px 3px var(--box-shadow-color);
  
    }

}
@media screen and (min-width:1024px) {
  body {
      background-size: 300px 300px;
      font-size: 18px;
    }
        .title {
          font-size: 20px;
        }
  .container {
    padding: 0px 15px 0px 15px;
  }

  .hero-section {
    width: 974px;
    margin: 30px auto;
    border-radius: 40px;
    box-shadow: 0px 0px 16px 4px var(--box-shadow-color);
  }

  .section {
    width: 974px;
    margin: 30px auto;
    padding: 15px 0px;
    border-radius: 40px;
    box-shadow: 0px 0px 16px 4px var(--box-shadow-color);
  }
        .temporary__container {
          width: 974px;
          margin-top: 155px;
          margin-bottom: 155px;
      }
  .not__found__title{
    font-size: 22px;
  }
  .not__found__text {
    margin-top: 25px;
    font-size: 20px;
  }

  .not__found__link {
    margin-top: 35px;
    font-size: 20px;
  }
}
@media screen and (min-width:1440px) {
  body {
      background-size: 450px 450px;
      font-size: 20px;
    }
        .title {
          font-size: 22px;
        }

  .container {
    padding: 0px 15px 0px 15px;
  }

  .hero-section {
    width: 1420px;
    margin: 40px auto;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 6px var(--box-shadow-color);
  }

  .section {
    width: 1420px;
    margin: 50px auto;
    padding: 20px 0px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 6px var(--box-shadow-color);
  }

        .temporary__container {
          width: 1420px;
          margin-top: 255px;
          margin-bottom: 260px;
          padding: 20px 0px 20px 0px;
          border-radius: 50px;
          box-shadow: 0px 0px 20px 6px var(--box-shadow-color);
    
        }

  .not__found__title {
    font-size: 22px;
  }

  .not__found__text {
    margin-top: 25px;
    font-size: 20px;
  }

  .not__found__link {
    margin-top: 35px;
    font-size: 20px;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
