//Hero section
.heroContainer {
    position: relative;
    height: 250px;
    padding-top: 0;
    background-image: url("/world-map-tablet.png");
    background-repeat: no-repeat;
    background-size: 100% 230px;
}

.heroTitle {
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding-top: 210px;
}

.heroLink {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    max-width: 50px;
    font-size: 8px;
    font-weight: 500;
    color: var(--color-hero-text);
    transition: transform 0.3s ease-in-out;

    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

.heroLinkGreenland {
    top: 3.3%;
    left: 29.5%;
}

.heroLinkNA {
    top: 24%;
    left: 14%;
}

.heroLinkSA {
    top: 56.6%;
    left: 27.1%;
}

.heroLinkAfrica {
    top: 42.5%;
    left: 48%;
}

.heroLinkEurope {
    top: 21%;
    left: 55%;
}

.heroLinkAsia {
    top: 23%;
    left: 78%;
}

.heroLinkAU {
    top: 67.7%;
    left: 78.7%;
}

@media screen and (min-width: 410px) {
    .heroLink {
        font-size: 10px;
    }
}

@media screen and (min-width:768px) {
    .heroContainer {
        height: 415px;
        background-size: 100% 390px;
    }

    .heroTitle {
        font-size: 38px;
        padding-top: 330px;
    }

    .heroLink {
        font-size: 16px;
        max-width: 70px;

        &Greenland {
            top: 3.4%;
            left: 30%;
        }

        &NA {
            top: 25%;
            left: 14%;
        }

        &SA {
            top: 58%;
            left: 27.7%;
        }

        &Africa {
            top: 44.2%;
            left: 48%;
        }

        &Europe {
            top: 22.1%;
            left: 55.5%;
        }

        &Asia {
            top: 26%;
            left: 77%;
        }

        &AU {
            top: 68.8%;
            left: 79.3%;
        }
    }
}

@media screen and (min-width:1000px) {
    .heroContainer {
        height: 560px;
        background-size: 100% 530px;
    }

    .heroTitle {
        font-size: 50px;
        padding-top: 450px;
    }

    .heroLink {
        font-size: 22px;
        max-width: 90px;

        &Greenland {
            top: 3%;
        }

        &NA {
            top: 25.3%;
        }

        &SA {
            top: 58.3%;
            left: 27.2%;
        }

        &Africa {
            top: 46%;
        }

        &Europe {
            top: 22%;
            left: 55%;
        }

        &Asia {
            top: 26%;
        }

        &Au {
            top: 69.5%;
        }
    }
}

@media screen and (min-width:1200px) {

    .heroContainer {
        height: 630px;
        background-image: url('/world-map-desktop.png');
        background-size: 100% 600px;
    }

    .heroTitle {
        font-size: 55px;
        padding-top: 510px;
    }

    .heroLink {
        font-size: 24px;
        max-width: 100px;

        &Greenland {
            top: 3%;
            left: 30.5%;
        }

        &NA {
            top: 26.5%;
            left: 14.5%;
        }

        &SA {
            top: 59.8%;
            left: 27.7%;
        }

        &Africa {
            top: 46.5%;
        }

        &Europe {
            top: 24%;
            left: 54%;
        }

        &Asia {
            top: 26%;
        }

        &AU {
            top: 71.5%;
            left: 80%;
        }

    }
}

@media screen and (min-width:1440px) {

    .heroContainer {
        height: 730px;
        background-size: 100% 680px;
    }

    .heroTitle {
        font-size: 72px;
        padding-top: 585px;
    }

    .heroLink {
        font-size: 26px;
        max-width: 110px;

        &Greenland {
            top: 3%;
            left: 31%;
        }

        &NA {
            top: 26%;
        }

        &SA {
            top: 58.5%;
            left: 28%;
        }

        &Africa {
            top: 45%;
        }

        &Europe {
            top: 23.5%;
        }

        &Asia {
            top: 25.5%;
            left: 78.5%;
        }

        &AU {
            top: 69.5%;
            left: 80%;
        }
    }
}