.list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px 0px 0px 10px;
    font-size: 16px;
}
.link{
    padding: 7px;
    transition: var(--transition);
}
.link:hover , .link:focus{
    color: var(--icons-color-hover);
}
.current{
    border-radius: 25px;
    border: 1px solid var(--primary-text-color);
    transition: var(--transition);
}
.current:hover, .current:focus{
    border: 1px solid var(--icons-color-hover);
}

@media screen and (min-width:768px) {
    .list{
        font-size: 18px;
        padding: 10px 0px 0px 15px;
        row-gap: 12px;
        column-gap: 12px;
    }
    .link{
        padding: 9px;
    }
}

@media screen and (min-width:1024px) {
    .list {
        font-size: 20px;
        row-gap: 15px;
        padding-top: 18px;
    }

    /* .item {
        width: 210px;
    } */
}

@media screen and (min-width:1440px) {
    .list {
        font-size: 22px;
    }

    /* .item {
        width: 250px;
    } */
    .link{
        padding: 12px;
    }
}